body {background:#8C86AA;
}

h1{color:#3F3C4C;
	font-family: 'Advent Pro', sans-serif;
	font-size: 64px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center
}

nav {background:#8C86AA;
	link=#61559B;
	vlink=#463E8E;
	alink=#FFFFFF;
	font-size: 36px;
}