body {background:#8C86AA;
}

h1{color:#3F3C4C;
	font-family: 'Advent Pro', sans-serif;
	font-size: 64px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center
}

nav {background:#8C86AA;
	a:link=#61559B;
	a:visited=#463E8E;
	a:hover=#FFFFFF;
	font-size: 36px;
	text-align: center;
}

#photos {
	float: left;
}