body {
	background:#8C86AA;
	box-sizing: border-box;
}

h1{
	color:#3F3C4C;
	font-family: 'Advent Pro', sans-serif;
	font-size: 64px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center
}

nav {
	background:#8C86AA;
	font-size: 36px;
	text-align: center;
}

nav a {
	color: #61559B;
}

nav a:visited {
	color: #463E8E;
}

nav a:hover {
	color: #FFF;
}

img {
	display: inline-block;
	margin: 0;
	width: 320px;
}

section {
	column-count: 3;
}

#photos {
    float: left;
    width: 33.333%;
    padding: 2%;
}

footer {
  text-align: center;
  font-size: 24px;
  <a href="#">Contact</a>
}