body {
	background:#8C86AA;
	box-sizing: border-box;
	font-size: 16px;
}

h1{
	color:#3F3C4C;
	font-family: 'Advent Pro', sans-serif;
	font-size: 4em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center
}

h2{
	color:#3F3C4C;
	font-family: 'Advent Pro', sans-serif;
}

nav {
	float: none;
}

nav {
	background:#8C86AA;
	font-size: 2.25em;
	text-align: center;
}

nav a {
	color: #61559B;
}

nav a:visited {
	color: #463E8E;
}

nav a:hover {
	color: #FFF;
}

img {
	display: inline-block;
	margin-bottom: 1.25em;
	width: 100%;
}

.photos {
	text-align: center;
    float: left;
    width: 33.333%;
    padding: 2%;
    box-sizing: border-box;
}

.brunch {
	float: left;
	margin: 4em;
}

.photobooth {
	float: right;
	margin: 4em;
}


@media only screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
}

@media only screen and (max-width: 580px) {
	body {
		font-size: 12px;
	}
	img {
		width: 320px;
		display: block;
		margin: 2em auto;
	}
	.photos {
		width: auto;
		float: none;
		padding: 0;
	}
}

/*
@media only screen (max-width: 320px) {
  nav {
    float: none;
  }

footer {
  	text-align: center;
  	font-size: 24px;
}

footer a {
	color: #61559B;
}

footer a:visited {
	color: #463E8E;
}

footer a:hover {
	color: #FFF;
}
}
*/